<table class="TransactionItem" align="center">
    <tr>
        <th>{{@vendor}}</th>
        <th>{{@date}}</th>
        <th>{{@total}}</th>
    </tr>
    <tr>
        <th>{{@category}}</th>
        <th>{{@description}}</th>
    </tr>
</table>

{{yield}}